.container {
	background-color: antiquewhite;
	margin: 1rem;
	padding: 3rem;
	border-radius: 3rem;
	cursor: pointer;
	font-size: large;
}
.title {
	font-weight: 700;
}
.content {
	margin: 1rem;
	padding-top: 5rem;
	padding-bottom: 5rem;
	border-top: solid 0.125rem black;
}
.side {
	color: salmon;
}
